{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": "standard",
  "overrides": [],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "import/no-unresolved": 0,
    "linebreak-style": 0,
    "prefer-destructuring": 0,
    "no-param-reassign": ["error", { "props": false }],
    "import/extensions": 0,
    "import/prefer-default-export": 0,
    "jest/no-disabled-tests": 0,
    "jest/no-focused-tests": 0,
    "jest/no-identical-title": 0,
    "jest/prefer-to-have-length": 0,
    "jest/valid-expect": 0,
    "quotes":0 ,
    "no-alert": 0,
    "no-console": 0,
    "no-trailing-spaces": 0,
    "no-tabs": 0,
    "space-before-function-paren": 0
  }
}
// {
//   "env": {
//     "browser": true,
//     "es6": true,
//     "jest/globals": true
//   },
//   "extends": [
//     "airbnb-base"
//   ],
//   "globals": {
//     "Atomics": "readonly",
//     "SharedArrayBuffer": "readonly"
//   },
//   "plugins": ["jest"],
//   "parserOptions": {
//     "ecmaVersion": 2018,
//     "sourceType": "module"
//   },
//   "rules": {
//     "linebreak-style": 0,
//     "prefer-destructuring": 0,
//     "no-param-reassign": ["error", { "props": false }],
//     "import/extensions": 0,
//     "import/prefer-default-export": 0,
//     "jest/no-disabled-tests": "warn",
//     "jest/no-focused-tests": "error",
//     "jest/no-identical-title": "error",
//     "jest/prefer-to-have-length": "warn",
//     "jest/valid-expect": "error"
//   }
// }
